<nav class="navbar navbar-expand-lg custom-nav shadow-sm py-3">

    <div class="container-fluid">

        <!-- LOGO + BRAND -->
        <a class="navbar-brand d-flex align-items-center ms-5" href="#">
            <img src="/assets\Processing-Logo.png" class="brand-logo" alt="logo">
            <span class="brand-text">MetaLens</span>
        </a>

        <!-- NAV LINKS -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item ms-4">
                    <a class="nav-link navlink-custom" href="/dashboard"><b>Home</b></a>
                </li>
                <li class="nav-item ms-4">
                    <a class="nav-link navlink-custom" href="#"><b>About</b></a>
                </li>
                <li class="nav-item ms-4">
                    <a class="nav-link navlink-custom" href="/analytics"><b>Analytics</b></a>
                </li>
                <li class="nav-item ms-4">
                    <a class="nav-link navlink-custom" href="#"><b>Feedback</b></a>
                </li>
            </ul>
        </div>

        <!-- BUTTONS -->
        <div class="d-flex me-5">
            <a href="/signin" class="btn btn-outline-success login-btn">Sign In</a>
            <a href="/signup" class="btn btn-success get-started-btn ms-3">Sign Up</a>
        </div>

    </div>
</nav>