/* PAGE TITLE */
.convert-title {
    color: wheat;
    text-align: center;
    margin-top: 40px;
    font-size: 2.2rem;
}

/* MAIN CONTAINER */
.convert-container {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* BOXES */
.convert-box {
    flex: 1;
    padding: 25px;
    border-radius: 15px;
    background: rgba(10, 14, 39, 0.6);
    border: 1px solid #04D9C4;
    box-shadow: 0 0 20px rgba(4, 217, 196, 0.25);
    text-align: center;
}

/* PREVIEW IMAGE */
.convert-preview {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
    border-radius: 12px;
}

/* DOWNLOAD BUTTON */
.download-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #04D9C4;
    color: black;
    font-weight: 600;
    border-radius: 25px;
    text-decoration: none;
}

.download-btn:hover {
    background: #27F6E6;
}
