<main>
    <section class="py-3">
        <div class="container text-center mt-5">
            <br><br>

            <h1 class="mb-3">
                Intelligent Image Metadata Extraction Tool For Modern <br>Users
            </h1>
            <br>

            <p class="mx-auto mb-4" style="max-width: 600px;">
                Upload any image to instantly extract metadata like width, height, resolution, format, and size.
            </p>

            <a href="/analytics">
                <button style="width: 350px;" class="fw-semibold">
                    Upload Image & Extract Metadata
                </button>
            </a>

        </div>
    </section>
</main>