<main>
    <div class="wrapper mt-5">
        <form action="/forgotpass" method="POST">
            <h2 style="color: wheat;">Forgot Password</h2>

            <div class="input-field">
                <input type="email" name="email" required>
                <label>Enter your email</label>
            </div>

            <button type="submit">Send Reset Link</button>
        </form>
    </div>
</main>