<main class="d-flex justify-content-center align-items-center" style="flex:1;">
    <div class="wrapper">
        <form action="/signup" method="POST">
            <h2 style="color: wheat;">SignUp</h2>

            <div class="input-field mt-5">
                <input type="text" name="username" required>
                <label>Enter your userName</label>
            </div>

            <div class="input-field mt-5">
                <input type="text" name="email" required>
                <label>Enter your email</label>
            </div>

            <div class="input-field mt-5">
                <input type="password" name="password" required>
                <label>Set your password</label>
            </div>

            <div class="forget">
                <label for="remember">
                    <input type="checkbox" id="remember" name="remember">
                    <span class="remember-text">Remember me</span>
                </label>
            </div>

            <button type="submit">Sign Up</button>
        </form>
    </div>
</main>